{
  "presets": [
    "latest"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ],
    [
      "transform-strict-mode",
      {
        "strict": true
      }
    ]
  ]
}
